@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
  font-family: 'Cardo', serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

img:hover {
  cursor: pointer;
}

.portrait:hover {
  cursor: default;
}

h1 {
  font-family: 'Dancing Script', serif;
  font-weight: 400;
  font-style: normal;
}

.zoom-effect {
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
  transform: scale(1.05);
}

.zoom-effect:not(:hover) {
  transition: transform 0.5s ease-out;
}


.modal {
  backdrop-filter: blur(10px);
}

/* .grid-item {
  box-shadow:10px 10px 24px -12px rgba(0,0,0,0.75);
} */

.img-description {
  bottom: 2em;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.grid-item:hover .img-description {
  opacity: 1;
}