@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Cardo', serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.zoom-effect {
    transition: transform 0.2s ease;
}

.zoom-effect:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.modal {
    backdrop-filter: blur(10px);
}

.blurred-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.blurred-img::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulse 2.5s infinite;
  /* background-color: var(--text-color); */
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.blurred-img.loaded::before {
  animation: none;
  content: none;
}

.blurred-img img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blurred-img.loaded img {
  opacity: 1;
}